* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    color: rgb(34, 34, 34);
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.first {
    background: url(../img/first-bg.jpg) no-repeat top center /cover;
    padding-bottom: 160px;
    padding-top: 40px;
}
.container {
    max-width: 930px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
}

.menu {
    font-size: 14px;
    color: #ffffff;
    margin-left: 40px;
}
h3 {
    margin-top: 180px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
h1 {
    margin-top: 15px;
    font-size: 75px;
    color: #ffffff;
    text-align: center;
}
.button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    width: 240px;
    padding: 20px 0px;
    font-size: 18px;
    color: rgb(72, 69, 67);
    font-weight: bold;
    line-height: 1.2;
    text-align: center; 
}
.second {
    display: block;
    background-color: #ffffff;
    padding-bottom: 100px;
}
.title {
    padding-top: 115px;
    padding-bottom: 60px;
}
.title h2 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.875;
    text-align: center;
}
.title p {
    font-size: 16px;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    margin-top: 5px;
}
.services {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.services__choice {
    max-width: 270px;
    text-align: center;
}

.third {
    display: block;
    background-color: #d7d7d7;
    padding-bottom: 130px;
}

/* В четвертой секции я не смог выравнить картинки по середине а ДИВ с текстом справа\слева */
.fourth {
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.month__left {
    margin-top: 70px;
    display: flex;
    margin-right: calc(50% - 120px);
    text-align: right;
}
.month__right {
    margin-top: 70px;
    margin-left: calc(50% - 120px);
    display: flex;
    text-align: left;
}

.month__text {
    max-width: 280px;
}
.month__text p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(119, 119, 119);
    line-height: 1.2;
}
.month__img {
    margin: 0 20px;
}

footer {
    font-size: 14px;
    color: rgb(85, 85, 85);
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
}